.type {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #fff;
    margin-top: 10vh;
}

.type .type-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0px 50px 0px 50px !important;
}

.type-row .type-col{
    width: 100%;
    padding: 2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 5px #646161;
    transition: 0.4s ease;
}

.type-row .type-col:hover{
    transform: translateY(-10px);
}

.type-row .type-col img{
    width: 60%;
    height: 6rem;
}

.type-row .type-col h5{
    font-size: 1.8rem;
    font-weight: 600;
    color: #646161;
}

.type-row .type-col h5{
    font-size: 1.8rem;
    font-weight: 600;
    color: #646161;
}

.type-row .type-col:hover h5{
    color: var(--main-color);
}

h4{
    margin-bottom: 5vh !important;
    font-size: 5vh !important;
}

span{
    font-weight: 5vh !important;
}