.container {
    display: flex;
  }
  
  .card {
    flex: 1; 
    margin: 10px;
    border-radius: 8px;
  }
  
  .card img {
    width: 100vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .card h2 {
    margin-top: 0;
  }