.container-a{
    /* padding-top: 5vh; */
    background-color: rgb(27, 70, 98);
    color: white;
    padding: 2vh 5vh 2vh 5vh;
    border-radius: 20rem;
}

.centered-b{
    text-align: center !important;
    /* padding-left: 10vh; */
    font-size: 7vh !important;
}

.form{
    padding-top: 5vh;
    text-align: center;
    justify-content: space-evenly !important;
    gap: 2vh;
}

.input-a{
    padding: 2vh 7vh 2vh 6vh ;
    /* margin-right: 20vh; */
    border-radius: 2rem;
    margin-bottom: 2vh;
}

.input-b{
    padding: 2vh 7vh 2vh 6vh ;
    /* margin-right: 15vh; */
    border-radius: 2rem;
}

button{
    padding: 2vh 10vh 2vh 10vh;
    border-radius: 2rem !important;
    background-color: orange !important;
    margin-left: 5vh !important;
}

button:hover{
    background-color: rgb(241, 116, 0);
}